@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.App {
  text-align: center;
}

div .invalid {
  background-color: #f5c6cb;
}

div .odd-row {
  background-color: #cdcdcd;
}

input[type=text] {
    width: 30px;
}

@media only print {
  .reports {
    font-family: 'Special Elite', cursive;
  }
  .no-print {
    display: none;
  }
  .nav > .nav-link {
    display: none;
  }
  .nav.nav-tabs {
    border-bottom: 0px;
  }
  @page {
    margin: 0;
  }
  #main-title {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .operation-print {
    page-break-after: always;
    padding: 150px 30px 50px 30px;
    font-family: 'Special Elite', cursive;
  }
  .operation-print h4 {
    font-size: 36px;
    margin-bottom: 2em;
  }
  .operation-print .desc {
    text-align: justify;
    margin-top: 8em;
  }
  .operation-print > div{
    text-align: left;
  }
}