.App {
  text-align: center;
}

div .invalid {
  background-color: #f5c6cb;
}

div .odd-row {
  background-color: #cdcdcd;
}

input[type=text] {
    width: 30px;
}

@media only print {
  .no-print {
    display: none;
  }
  @page {
    margin: 0;
  }
  #main-title {
    margin-top: 2em;
    margin-bottom: 1em;
  }
}